<div id="wrapper" class="container">
    <h1>Scraping my college newspaper</h1>
    <div class="row">

        <div id="articles" class="col-6"></div>
        <div id="notes" class="col-6"></div>
    </div>
</div>